.rsl p {
  width: 15.625rem;
  margin-left: auto;

  &:is(.isActive, .isDone) {
    color: #787B80;
    position: relative;

    &::before {
      position: absolute;
      width: 18px;
      height: 18px;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.isActive {
    &::before {
      content: "";
      background-size: contain;
      background-image: url("/assets/loader.gif");
    }
  }

  &.isDone {
    &::before {
      content: "";
      background-size: contain;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwOTZiMmIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaXJjbGUtY2hlY2siPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PHBhdGggZD0ibTkgMTIgMiAyIDQtNCIvPjwvc3ZnPg==");
    }
  }
}